<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Registration form</h2>
    <form action="" method="post">
        <table>
            <tr>
                <th> name
                
                </th>
                <td><input type ="text" name="username" required></td>
            </tr>
            <tr>
                <th>address

                </th>
                <td><input type ="address" name ="address" required></td>

            </tr>
            <tr>
            <td><input type = "submit" value="login" name="login"> </td>
            </tr>
        </table>
    </form>

    
</body>
</html>